.container-fluid
  .row.no-gutter
    .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
    .col-md-8.col-lg-6
      .login.d-flex.align-items-center.py-5
        .container
          .row
            .col-md-9.col-lg-8.mx-auto
              h3.login-heading.mb-4 Confirmation instructions
              = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
                = render "devise/shared/error_messages", resource: resource
                .form-label-group
                  = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control',
                    placeholder: 'Email address'
                  = f.label :email, 'Email address'

                = f.submit 'Send it again!', class: 'btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2 text-uppercase'

                = render 'devise/shared/links'
