/ Source: https://startbootstrap.com/snippets/registration-page/

= devise_error_messages!
.row
  .col-lg-10.col-xl-9.mx-auto
    .card.card-signin.flex-row.my-5
      .card-img-left.d-none.d-md-flex
      .card-body
        h5.card-title.text-center Register
        = form_for(resource, class: 'form-signin', as: resource_name, url: registration_path(resource_name)) do |f|
          .form-label-group
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',
              placeholder: 'Email address'
            = f.label :email, 'Email address'
          hr
          .form-label-group
            = f.password_field :password, autocomplete: "new-password", class: 'form-control',
              placeholder: 'Password'
            = f.label :password, 'Password'
          .form-label-group
            = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control',
              placeholder: 'Password'
            = f.label :password_confirmation, 'Confirm password'
          = f.submit "Register", class: 'btn btn-lg btn-primary btn-block text-uppercase'

          = render "devise/shared/links"

          / a.d-block.text-center.mt-2.small href="#"  Sign In
          / hr.my-4/
          / button.btn.btn-lg.btn-google.btn-block.text-uppercase type="submit"
          /   i.fab.fa-google.mr-2
          /   | Sign up with Google
          / button.btn.btn-lg.btn-facebook.btn-block.text-uppercase type="submit"
          /   i.fab.fa-facebook-f.mr-2
          /   | Sign up with Facebook
