@import '~bootstrap/scss/bootstrap';
@import 'devise/sign_up';
@import 'devise/sign_in';

header {
  padding: 130px 0 100px;
  background: url('../images/trees.jpg');
  background-size: cover;
}

section {
  padding: 80px 0;
  font-family: Montserrat;
}

nav {
  position: fixed;
}
