.card
  .card-body
    = form_with url: root_path, method: :get, remote: false do
      .row
        .col-12
          => label_tag :recipient, t('.to_whom')
          = select_tag :recipient, options_for_select(@recipients, params[:recipient]),
            class: 'form-control', include_blank: true
      .row
        .col-12
          => label_tag :occasion, t('.which_occasion')
          = select_tag :occasion, options_for_select(@occasions, params[:occasion]),
            class: 'form-control', include_blank: true

      .col-12.text-center.mt-4
        = submit_tag t('.find'), class: 'btn btn-success'
