.row
  .col-6
    = form_with model: @gift do |f|
      p
        => f.label :title, t('.what')
        = f.text_field :title, class: 'form-control', required: true

      p
        => f.label :recipient_id, t('.to_whom')
        => f.select :recipient_id, @recipients, {}, class: 'form-control'

      p
        => f.label :occasion_id, t('.which_occasion')
        = f.select :occasion_id, @occasions, {}, class: 'form-control'

      p
        = f.submit 'Вот я молодец!', class: 'btn btn-success'

