ul.list-group.list-group-flush
  - giftings.each do |gifting|
    li.list-group-item.list-group-item-action
      i.fas.fa-gift>
      strong => gifting.gift.name
      => t('.for')
      strong => link_to gifting.recipient.title.downcase, root_path(recipient: gifting.recipient.title)
      => t('.on_occasion')
      strong => link_to gifting.occasion.name, root_path(occasion: gifting.occasion.name)
      - if defined?(edit) && edit
        => link_to t('edit'), edit_gift_path(gifting.gift)
      - if defined?(destroy) && destroy
        => link_to t('destroy'), gifting.gift, method: :delete, data: { confirm: 'Are you sure?' }

.mt-4
    = will_paginate giftings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
