/ header.text-white
/   .text-center
/     h1 Место, где есть все подарки
/     p.lead Выбирайте поводы для подарков и получателей, чтобы придумать свой подарок

.row.mt-4
  .col-3
    = render 'filters'
  .col-9
    = render 'list', giftings: @giftings
