/ Source https://startbootstrap.com/snippets/sign-in-split/

.container-fluid
  .row.no-gutter
    .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
    .col-md-8.col-lg-6
      .login.d-flex.align-items-center.py-5
        .container
          .row
            .col-md-9.col-lg-8.mx-auto
              h3.login-heading.mb-4 Welcome back!
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-label-group
                  = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',
                    placeholder: 'Email address'
                  = f.label :email, 'Email address'
                .form-label-group
                  = f.password_field :password, autocomplete: "current-password", class: 'form-control',
                    placeholder: 'Password'
                  = f.label :password, 'Password'
                - if devise_mapping.rememberable?
                  .custom-control.custom-checkbox.mb-3
                    = f.check_box :remember_me, class: 'custom-control-input'
                    = f.label :remember_me, 'Remember password', class: 'custom-control-label'

                = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2 text-uppercase'

                = render 'devise/shared/links'
